
body {
    background-color: rgb(2, 156, 173);
    color: rgb(255,255,255);
    font-family: "Gill Sans", sans-serif;
    text-align: center;
}
canvas {
    display: block;
    margin: 20px auto;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

header, footer {
    padding: 20px;
}
